.header-container {
	background: #FFF;
	height: 130px;
}
.container {
	font-size: 16px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
article {
	background: #fff;
	overflow: auto;	
}

@media (min-width: 480px) {
.container {
	width: 100%;
}
}

@media (min-width: 660px) {
.container {
	width: 100%;
}
}

@media (min-width: 992px) {
.container {
	width: 1000px;
}
}
.logo {
	position: absolute;
	z-index: 999;
	width: 223px;
	float: left;
}
.phone {
	float: right;
	background-color: #113381;
	width: 245px;
	color: #fff;
	padding: 10px;
	text-align: center;
}

@media (max-width: 991px) {
	.phone {
		position: absolute;
		top: -49px;
		left: 50%;
		margin-left: -130px;
	}
	.logo {
		width: 81px;
		right: 0;
		top: -59px;
	}
	.header-container {
		height: auto;
	}
}
.slider-container {
	position: relative;
	margin-top: -40px;
}
.slider-container-content {
	max-height: 250px;
	overflow: hidden;
	margin-bottom: 55px;
	
}
.slider-container-content IMG {
	width: 100%;
}
/* META SLIDER CHANGES */
.metaslider .caption-wrap {
	position: relative !important;
	display: block !important;
	margin: 0 auto !important;
	width: 1000px !important;
	opacity: 1 !important;
}
.metaslider .caption {
	position: absolute;
	right: 0;
	bottom: 27px;
	color: #000;
	font-size: 19px;
	background-color: #fff;
	padding: 17px !important;
	line-height: normal;
	margin-right: 15px;
}
@media (max-width: 660px) {
.metaslider .caption-wrap {
	display: none !important;
}
}
@media (max-width: 991px) {
.metaslider .caption-wrap {
	width: 100% !important;
}
}
/* END META SLIDER CHANGES */
.header-container-right {
	float: right;
}
.menu-container {
	position: absolute;
	right: 15px;
	margin-top: 72px;
	font-size: 15px;
	font-weight: 600;
}
.company-description-container {
	text-align: center;
	padding: 0 160px;
	margin-top: 70px;
	margin-bottom: 60px;
}
.company-description-container h1 {
	font-size: 30px;
	margin: 10px 0 40px 0;
	line-height: normal;
}
.content-tiles {
}
.content-tiles a {
	display: block;
	color: #000;
	text-align: center;
}
.tiles {
	float: left;
	padding: 0 12px;
}

@media (max-width: 659px) {
.tiles {
	width: 100%;
}
.content-tiles .tiles:last-child {
	margin-bottom: 45px;
}
.company-description-container {
	padding: 0 20px !important;
}
}

@media (min-width: 660px) and (max-width: 991px) {
.tiles {
	width: 50%;
}
.company-description-container {
	padding: 0 50px !important;
}
.tiles-container .tile-contact {
	overflow: hidden;
	height: 392px;
}
}

@media (min-width: 992px) {
.tiles {
	width: 33.33333333%;
}
}
.tiles-img {
	height: 220px;
	overflow: hidden;
}
.tiles-container, .tiles-container .tiles-contact {
	background-color: #FFF;
	margin-bottom: 35px;
	min-height: 392px;
}
.tiles-container P {
	padding: 20px;
	margin: 0;
	text-align: center;
}
.tiles-project {
	min-height: 200px !important;
}
.tiles-project IMG {
  height: 100%;
  width: auto;
}
.tiles-header {
	position: relative;
}
.tiles-header H2 {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 45%;
	display: block;
}
.tiles-header H2 > a {
	display: inline;
	color: #000;
	text-decoration: none;
	background-color: #FFF;
	padding: 15px;
}
.tile-contact H2 {
	top: 26%;
}
.tile-contact H2 > a {
	background-color: #000;
	color: #FFF;
}
.tile-contact a {
	display: block;
	position: relative;
	margin: -42px;
	color: #fff;
}

.projects-title {
	background-color: #999;
  margin: 20px 12px !important;
  padding: 15px;
  text-align: center;
  color: #fff !important;
  font-size: 22px;
}

.content-footer-nav {
	background: #4C4C4C;
	min-height: 240px;
}
.content-footer-nav .container {
	padding-top: 30px;
	color: #A5A5A5;
	overflow: auto;
}
.content-footer-nav a {
	color: #CACACA;
	text-decoration: none;
	padding-right: 40px;
	display: block;
}
.menu-footer-nav > ul {
	list-style: none;
	font-size: 18px;
	margin: 0;
	padding: 0;
}
.menu-footer-nav > ul > li {
	float: left;
	margin: 0;
}

.current_page_item, .current-menu-ancestor {
	background-color: #4D4D4D;
	
}
li.current_page_item a, li.current-menu-ancestor a {
	color: #fff !important;
}

@media (max-width: 991px) {
.sub-menu {
	display: none;
}
.menu-footer-nav > ul > li {
	float: none;
	padding: 5px 0;
}
}
.menu-footer-nav > ul > li:first-child {
/*display: none;*/
}
.menu-footer-nav > ul > li > ul {
	padding: 10px 0;
	margin: 0;
}
.menu-footer-nav > ul > li > ul > li {
	font-size: 13px;
	list-style: none;
	margin: 5px 0;
}
.menu-footer-nav > ul > li > ul > li a {
	color: #A5A5A5;
}
.menu-header > ul > li > ul > li a {
	color: #FFF;
}
/*NEED QUOTE SECTION*/
.need-quote {
	text-align: center;
}
.need-quote h3{
	overflow:visible;
}
.need-quote h3 span { 
  border: solid #000 1px;
  padding: 16px;
  font-size: 20px;
  font-weight: bold;
}

.need-quote .entry-content {
	margin-top: 36px;
  	padding: 12px 120px
	}
.need-quote-container-l, .need-quote-container-r {
	text-align: left;
	float: left;
	width: 50%;	
	padding: 20px;
}
form.wpcf7-form > .need-quote-container-l p {
	float: right;
}
form.wpcf7-form > .need-quote-container-r p {
	float: left;
}
form.wpcf7-form input, form.wpcf7-form textarea {
  border: none;
  margin: 0;
  box-shadow: none;
  padding: 12px 5px;
  font-size: 15px;
  margin-top: 4px;
  width: 100%;
}
form.wpcf7-form textarea {
height:123px;}
input.wpcf7-form-control.wpcf7-submit {
  background: #999;
  border: none;
  padding: 15px 25px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 659px) {
.need-quote .entry-content {
  margin-top: 36px;
  padding: 12px 0px;
}
.need-quote-container-l, .need-quote-container-r, .need-quote-container-l p, .need-quote-container-r p {
	width: 100%;
	padding: 0;
}
}
/* FOOTER */
.content-footer-contacts {
	float: right;
	margin-top: 10px;
}
.content-footer-contacts strong {
	font-size: 30px;
}
.phone-footer, .email {
	padding: 14px 0 14px 30px;
}
.phone-footer {
	margin-top: 10px;
	background: url(../images/icon/ico_phone.png) left no-repeat;
}
.email {
	background: url(../images/icon/ico_email.png) left no-repeat;
}
.content-copy {
	background-color: #191919;
	color: #fff;
	min-height: 50px;
	overflow: auto;
}
.content-copy .container {
	font-size: 12px !important;
	line-height: 50px;
}
.copyright, .sbm {
	width: 50%;
	float: left;
}
.sbm {
	text-align: right;
}
.sbm a, .phone span {
	color: #15DB64;
	text-decoration: none;
}

@media (max-width: 659px) {
.content-copy, .sbm {
	text-align: center;
}
.copyright, .sbm {
	width: 100%;
}
.content-footer-contacts {
	float: left;
	margin-top: 30px;
}
}
.img-responsive {
	display: block;
	width: 100%;
	height: auto;
}

@media (max-width: 400px) {
.hidden-xs {
	display: none !important;
}
}

@media (max-width: 659px) {
.hidden-sm {
	display: none !important;
}
.menu-footer-nav > ul {
	float: none;
}
}

@media (min-width: 660px) and (max-width: 991px) {
.hidden-md {
	display: none !important;
}
.menu-footer-nav > ul {
	float: left;
}
}

@media (min-width: 992px) {
.hidden-lg {
	display: none !important;
}
}
